:root {
    --header-color: #3347B0;
    --body-color: #f5f5f5;
    --footer-color: #3347B0;
    --text-color: #FFFFFF;
    --header-status-color: #BCC2E5;
    --header-square-yellow: #E5B657;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
}

.headerContent {
    height: 10.67vh;
    display: flex;
    align-items: center;
    padding: 0 96px;
    justify-content: space-between;
    width: 100%;
    background-color: var(--header-color);
}

.headerStatus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 0 120px;
    color: var(--header-color);
    font-weight: 500;
    background-color: var(--header-status-color);
}


.dropdownContainer {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdownContainer:hover .dropdownContent {
    display: block;
    background-color: var(--header-color);
}

.dropdownButton {
    background-color: var(--header-status-color);
    color: var(--header-color);
    font-weight: 500;
    padding: 10px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.dropdownContent a {
    color: var(--text-color);
    padding: 12px 16px;
    display: block;
}

.dropdownContent a:hover {
    background-color: var(--header-status-color);
    color: var(--header-color);
}

.dropdownYear {
    position: relative;
    display: inline-block;
}

.dropdownYearContent {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdownYear:hover .dropdownYearContent {
    display: block;
    background-color: var(--header-color);
}

.dropdownButtonYear {
    background-color: var(--header-status-color);
    color: var(--header-color);
    font-weight: 500;
    padding: 10px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.dropdownYearContent a {
    color: var(--text-color);
    padding: 12px 16px;
    display: block;
    cursor: pointer;
}

.dropdownYearContent a:hover {
    background-color: var(--header-status-color);
    color: var(--header-color);
}

.legendaContainer {
    display: flex;
    gap: 24px;
    width: 350px;
}

.statusCourse {
    display: flex;
    gap: 8px;
}

.squareBlue {
    height: 20px;
    width: 20px;
    background-color: var(--header-color);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.squareYellow {
    height: 20px;
    width: 20px;
    background-color: var(--header-square-yellow);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

main {
    display: flex;
    padding-bottom: 114px;
    height: auto;
    align-items: center;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 0 96px;
    align-items: center;
    height: 15vh;
    width: 100%;
    background-color: var(--footer-color);
}

.logoSchool {
    width: 10vw;
    gap: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textSchool {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--text-color);
}

.buttonBack a {
    color: var(--text-color);
    align-items: center;
    font-size: 2.2rem;
    gap: 12px;
    display: flex;
    flex-direction: row;
}

.backText {
    font-weight: 500;
}

.title-course {
    font-size: 3rem;
    padding-bottom: 80px;
    color: var(--header-color);
}

.containerCard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 42px;
}

.imgStudent {
    width: 200px;
    height: 200px;
}

.cardStudentStudying {
    width: 200px;
    height: 300px;
    align-items: center;
    justify-content: center;
    background-color: var(--header-color);
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.cardStudentStudying:hover {
    transform: scale(1.1);
}

.cardStudentFinish {
    width: 200px;
    height: 300px;
    align-items: center;
    justify-content: center;
    background-color: var(--header-square-yellow);
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.cardStudentFinish:hover {
    transform: scale(1.1);
}

.imgStudent {
    padding-bottom: 16px;
}

.nameStudent {
    text-align: center;
    width: 90%;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    text-shadow: 0px 4px 4px rgba(34, 34, 34, 0.25);
}

.contacts {
    margin-left: 96px;
    gap: 12px;
    display: grid;
    flex-direction: column;
    width: 20vw;
}

.contacts-container {
    display: flex;
    flex-direction: column;
}

.icon-contacts {
    display: flex;
    color: var(--text-color);
    align-items: center;
    gap: 24px;
    padding: 8px;
}

.icon-contacts i {
    font-size: 1.5rem;
}

.copyright {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.social-media-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.social-media-icon {
    height: 48px;
    width: 48px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: #ffffff;
    font-size: 1.5rem;
    transition: all .5s;
}

.social-media-icon:hover {
    background-color: var(--header-color);
    border: 2px solid var(--header-color);
}

/* MOBILE */
@media (max-width:640px) {
    .headerContent {
        justify-content: space-around;
        padding: 10px 0;
    }

    .logoSchool img {
        height: 65px;
        width: 50px;
    }

    .textSchool {
        font-size: 1.5rem;
    }

    .headerStatus {
        justify-content: space-between;
        padding: 0 0;
        height: auto;
    }

    .dropdownYear {
        padding: 0;
    }

    .status {
        display: flex;
        gap: 10px;
        padding-left: 60px;
    }

    .legendaContainer {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 16px;
    }

    .logoSchool img {
        height: 65px;
        width: 50px;
    }

    .textSchool {
        font-size: 1.40rem;
    }

    .buttonBack {
        font-size: 1.5rem;
    }

    .title-course {
        font-size: 1.5rem;
        text-align: center;
        padding: 35px;
    }

    .containerCard {
        justify-content: center;
    }

    footer {
        flex-direction: column;
        height: auto;
        padding: 32px;
        gap: 32px;
    }

    .copyright {
        width: 375px;
        border-top: 1px solid var(--text-color);
        border-bottom: 1px solid var(--text-color);
        font-size: 0.8rem;
        text-align: center;
    }

    .social-media-container {
        flex-direction: column;
    }
}