:root {
    --header-color: #3347B0;
    --body-color: #f5f5f5;
    --footer-color: #3347B0;
    --text-color: #FFFFFF;
    --header-status-color: #BCC2E5;
    --header-square-yellow: #E5B657;
    --red-note: #C11010;
    --bars-color: #EEEFF8;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
}

.headerContent {
    height: 10.67vh;
    display: flex;
    align-items: center;
    padding: 0 96px;
    justify-content: space-between;
    width: 100%;
    background-color: var(--header-color);
}

main {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 0 96px;
    align-items: center;
    height: 15vh;
    width: 100%;
    background-color: var(--footer-color);
}

.logoSchool {
    width: 10vw;
    gap: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textSchool {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--text-color);
}

.buttonBack {
    color: var(--text-color);
    align-items: center;
    font-size: 2.2rem;
    gap: 12px;
    display: flex;
    flex-direction: row;
}

.backText {
    font-weight: 500;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 239px;
}

.cardStudent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    background-color: var(--text-color);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}


.cardStudent:hover {
    transform: scale(1.1);
}

.imgStudent {
    width: 400px;
    height: 400px;
    justify-content: center;
}

.nameStudent {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    color: var(--header-color);
}

.cardNotes {
    width: 500px;
    height: 500px;
    gap: 240px;
    background-color: var(--text-color);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.cardNotes:hover {
    transform: scale(1.1);
}

.disciplineContainer {
    display: flex;
    flex-direction: row;
    margin-top: 57px;
    gap: 45px;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.disciplinesBar {
    display: flex;
    height: 300px;
    align-items: flex-end;
    background-color: #EEEFF8;
    border-radius: 4px 4px 0px 0px;
}
.bar {
    display: flex;
    justify-content: space-between;
    width: 16px;
    background-color: #3347B0;
    text-align: center;
    box-shadow: 0px 0px 24px #3347B0;
    border-radius: 4px 4px 0px 0px;
}

.disciplineBar {
    display: flex;
    margin-top: 17px;
    gap: 49px;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.firstDisciplineBar {
    width: 16px;
    height: 300px;
    background-color: var(--bars-color);
    align-items: flex-end;
    display: flex;
}

.firstDisciplineBarColor {
    width: 16px;
    height: 248px;
    background-color: var(--header-color);
    box-shadow: 0px 0px 24px var(--header-color);
    border-radius: 4px 4px 0px 0px;
}

.secondDisciplineBar {
    width: 16px;
    height: 300px;
    background-color: var(--bars-color);
    align-items: flex-end;
    display: flex;
}

.secondDisciplineBarColor {
    width: 16px;
    height: 87px;
    background-color: var(--red-note);
    box-shadow: 0px 0px 24px var(--red-note);
    border-radius: 4px 4px 0px 0px;
}

.thirdDisciplineBar {
    width: 16px;
    height: 300px;
    background-color: var(--bars-color);
    align-items: flex-end;
    display: flex;
}

.thirdDisciplineBarColor {
    width: 16px;
    height: 150px;
    background-color: var(--header-square-yellow);
    box-shadow: 0px 0px 24px var(--header-square-yellow);
    border-radius: 4px 4px 0px 0px;
}

.fourthDisciplineBar {
    width: 16px;
    height: 300px;
    background-color: var(--bars-color);
    align-items: flex-end;
    display: flex;
}

.fourthDisciplineBarColor {
    width: 16px;
    height: 248px;
    background-color: var(--header-color);
    box-shadow: 0px 0px 24px #3347B0;
    border-radius: 4px 4px 0px 0px;
}

.fifthDisciplineBar {
    width: 16px;
    height: 300px;
    background-color: var(--bars-color);
    align-items: flex-end;
    display: flex;
}

.fifthDisciplineBarColor {
    width: 16px;
    height: 206px;
    background-color: var(--header-color);
    box-shadow: 0px 0px 24px #3347B0;
    border-radius: 4px 4px 0px 0px;
}

.sixthDisciplineBar {
    width: 16px;
    height: 300px;
    background-color: var(--bars-color);
    align-items: flex-end;
    display: flex;
}

.sixthDisciplineBarColor {
    width: 16px;
    height: 300px;
    background-color: var(--header-color);
    box-shadow: 0px 0px 24px #3347B0;
    border-radius: 4px 4px 0px 0px;
}

.sixthDisciplineNumber {
    color: var(--header-color);
}

.barra-vermelho {
    background-color: var(--red-note);
    box-shadow: 0px 0px 24px var(--red-note);
}

.barra-amarelo {
    background-color: var(--header-square-yellow);
    box-shadow: 0px 0px 24px var(--header-square-yellow);
}

.numeroNome-Vermelho {
    color: #C11010;
}

.numeroNome-Amarelo {
    color: #E5B657;
}

.nameDisciplineContainer {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    gap: 36px;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    color: var(--header-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contacts {
    margin-left: 96px;
    gap: 12px;
    display: grid;
    flex-direction: column;
    width: 20vw;
}

.contacts-container {
    display: flex;
    flex-direction: column;
}

.icon-contacts {
    display: flex;
    color: var(--text-color);
    align-items: center;
    gap: 24px;
    padding: 8px;
}

.icon-contacts i {
    font-size: 1.5rem;
}

.copyright {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.social-media-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.social-media-icon {
    height: 48px;
    width: 48px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: #ffffff;
    font-size: 1.5rem;
    transition: all .5s;
}

.social-media-icon:hover {
    background-color: var(--header-color);
    border: 2px solid var(--header-color);
}

/* MOBILE */
@media (max-width:640px) {
    .headerContent {
        justify-content: space-between;
        padding: 0 60px;
    }

    .buttonBack {
        padding-left: 170px;
    }

    .logoSchool img {
        height: 65px;
        width: 50px;
    }

    .textSchool {
        font-size: 1.40rem;
    }

    .buttonBack {
        font-size: 1.5rem;
    }

    .cardsContainer {
        padding: 40px 0;
        gap: 50px;
        align-items: center;
        justify-content: center;
    }

    .cardStudent {
        width: 250px;
        height: 250px;
    }

    .imgStudent {
        width: 200px;
        height: 200px;
    }

    .cardNotes {
        width: 250px;
        height: 250px;
    }

    .disciplineContainer {
        width: 100%;
        margin-top: 20px;
        gap: 20px;
    }

    .disciplineBar {
        width: 100%;
        height: 150px;
        align-items: center;
        justify-content: center;
        gap: 23px;
    }

    .firstDisciplineBar {
        height: 150px;
    }

    .firstDisciplineBarColor {
        height: 140px;
    }

    .secondDisciplineBar {
        height: 150px;
    }

    .secondDisciplineBarColor {
        height: 50px;
    }

    .thirdDisciplineBar {
        height: 150px;
    }

    .thirdDisciplineBarColor {
        height: 75px;
    }

    .fourthDisciplineBar {
        height: 150px;
    }

    .fourthDisciplineBarColor {
        height: 140px;
    }

    .fifthDisciplineBar {
        height: 150px;
    }

    .fifthDisciplineBarColor {
        height: 125px;
    }

    .sixthDisciplineBar {
        height: 150px;
    }

    .sixthDisciplineBarColor {
        height: 150px;
    }
    
    .nameDisciplineContainer {
        width: 100%;
        gap: 10px;
    }

    footer {
        flex-direction: column;
        height: auto;
        padding: 32px;
        gap: 32px;
    }

    .copyright {
        width: 375px;
        border-top: 1px solid var(--text-color);
        border-bottom: 1px solid var(--text-color);
        font-size: 0.8rem;
        text-align: center;
    }

    .social-media-container {
        flex-direction: column;
    }
}